@use "@/core/styles" as *;

.body {
  height: 100vh;

  .header {
    svg {
      font-size: 20px;
    }
  }

  .card {
    min-width: 400px;
    max-width: 600px;
    padding: 30px;
    -webkit-box-shadow: 0px 10px 19px 7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 19px 7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 19px 7px rgba(0, 0, 0, 0.75);
    background-color: $bg-color_lighten;
    border-radius: 10px;

    .app-name {
      font-size: 20px;
    }

    .icon {
      font-size: 20px;
    }

    .fullname {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
      font-size: 20px;
      max-width: 350px;
    }

    .upload-time {
      font-size: 16px;
      font-weight: 300;
    }
  }
}
