@use "@/core/styles" as *;

.body {
  padding: 10px 20px;

  .logotype-container {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .app-name {
    font-size: 16px;
    font-weight: 500;
  }

  .auth-button:hover {
    color: $primary-color !important;
  }
}
