@use "@/core/styles" as *;

.body {
  display: flex;
  align-items: center;
  height: 36px;
  box-sizing: content-box;
  padding: 14px 23.5px;
  background-color: $bg-service-color_lighten;

  .title {
    margin: 0 !important;
  }
}
