@use "@/core/styles" as *;

.sider {
  border-right: 1px solid $bg-service-border-color;

  background-color: $bg-service-color;

  &__content {
    height: 100%;
  }

  .collapser {
    background-color: $bg-service-color_lighten !important;
    padding: 14px 20px;
    height: 64px;
    transition: padding $base-transition cubic-bezier(0.645, 0.045, 0.355, 1);

    &_closed {
      padding-inline: calc(50% - 12px - 4px);
    }

    &__text {
      font-size: 16px;
      text-overflow: clip;
      white-space: nowrap;
      transition:
        display $base-transition cubic-bezier(0.645, 0.045, 0.355, 1)
          allow-discrete,
        opacity $base-transition cubic-bezier(0.645, 0.045, 0.355, 1),
        margin $base-transition,
        color $base-transition;

      &_closed {
        display: none;
        opacity: 0;
      }
    }
  }

  div:global(.ant-layout-sider-trigger) {
    background-color: $bg-service-color;
    border-right: 1px solid $bg-service-border-color;
  }

  ul:global(.ant-menu-root) {
    background-color: transparent;
  }
}

.profile-submenu {
  height: 70px !important;
  display: flex !important;
  align-items: center;
  pointer-events: none;

  &__login {
    font-size: 16px;
    font-weight: 600;
  }

  &__email {
    font-size: 12px;
    color: $primary-color !important;
  }

  span {
    line-height: 1;
  }
}

@starting-style {
  .collapser__text {
    opacity: 0;
  }
}
