.title {
  font-size: 45px !important;
  font-weight: 500 !important;
  line-height: 80px;
  letter-spacing: -0.03em;
  margin: 0 !important;
}

.text {
  width: 500px;
  font-size: 25px;
  font-weight: 300;
  margin: 0;
}
