.body {
  height: 400px;
  width: 800px;
  border: 1px solid;
  padding: 10px;
  overflow-y: auto;

  .table {
    position: relative;
    width: 100%;

    thead {
      background-color: #fff;
      top: 0;
      position: sticky;
    }

    th,
    td {
      border: 1px solid;
      border-collapse: collapse;
      text-align: center;
    }
  }
}
