@use "@/core/styles" as *;

.body {
  display: flex;
  flex: 1;
  flex-direction: column;
  gap: 15px;

  :global(.ant-list-item-meta) {
    display: flex;
    align-items: center !important;
  }

  .login {
    color: $shadow-text-color;
  }
}
