@import "@/core/styles";

.body {
  padding: 10px;

  .avatar {
    width: 140px;
    height: 140px;
  }

  .login {
    font-size: 18px;
    font-weight: 500;
  }

  .nav-button:hover {
    color: $primary_color !important;
  }
}
