// INFO: Цвета

$primary-color: #33d17a;
$admin-color: $primary-color;

$bg-color: #221d22;
$bg-color_lighten: #292329;

$bg-service-color: #3c2c3c;
$bg-service-color_lighten: #5c445c;

// INFO: Величины

$base-transition: 0.3s;
