@use "sass:color";

// INFO: Цвета

$primary-color: #33d17a;
$primary-color_selected: color.adjust($primary-color, $lightness: -30%);
$admin-color: $primary-color;

$bg-color: #221d22;
$bg-color_lighten: #292329;

$bg-service-color: #241b24;
$bg-service-color_lighten: color.adjust($bg-service-color, $lightness: 5%);
$bg-service-border-color: #5c445c;

$shadow-text-color: color.adjust(#fff, $lightness: -50%);

// INFO: Величины

$base-transition: 0.3s;
