@use "@/core/styles" as *;

.body {
  height: 100vh;

  .iframe {
    border: 0;
    width: 375px;
    aspect-ratio: 1 / 1;
  }

  .form-container {
    padding: 30px;
    -webkit-box-shadow: 0px 10px 19px 7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 10px 19px 7px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 10px 19px 7px rgba(0, 0, 0, 0.75);
    background-color: $bg-color_lighten;
    border-radius: 10px;

    .form {
      width: 100%;
    }

    &__form-wrapper {
      width: 350px;
    }
  }
}

.submit-button-container {
  margin-bottom: 5px;

  .submit-button {
    width: 100%;
  }
}

.separator {
  font-size: 14px;
  font-weight: 300;
}

.redirect-button {
  width: 100%;
}

.form-title {
  font-size: 22px;
  font-weight: 300;
}
