.body {
  height: 100vh;

  .form-container {
    width: 300px;
    padding: 30px;
    background-color: #02060d;
    box-shadow: 0 0 10px #00db00;
    border-radius: 10px;

    .form {
      width: 100%;
    }
  }
}

.submit-button-container {
  margin-bottom: 5px;

  .submit-button {
    width: 100%;
  }
}

.redirect-button {
  width: 100%;
}

.form-title {
  text-align: center;
  font-size: 22px;
  font-weight: 500;
}
