.body {
  padding: 10px 20px;
  width: 150px;
  border-right: 1px solid gray;

  .logotype-container {
    height: 32px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .app-name {
    font-size: 16px;
    font-weight: 500;
  }
}
