body {
  margin: 10px;
  background-color: #1c171c;
  color: #fff;
  height: 100vh;
  font-size: 10px;
  overflow: hidden;
}

.console {
  margin: 0;
}

.console__user {
  color: #33d17a;
}

.console__separator {
  color: gray;
}

.welcome {
  display: block;
  width: 100%;
  text-align: center;
}

.welcome__company {
  color: #33d17a;
  font-weight: 500;
}

.welcome__separators {
  color: gray;
  font-weight: 500;
}

.donut {
  height: 100vh;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}
